@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

/* General styling */

html body {
    background-color: #000e03;
    font-family: 'Kaushan Script', cursive, sans-serif;
    font-size: x-large;
}


/* Navbar styling */

.headstyle{
    background-color: black;
    color: #C1A87D;
    padding-bottom: 10px;
}

.nav-name {
	font-family: 'Kaushan Script', cursive, sans-serif;
    font-size: xx-large;
    text-decoration: none;
    color: inherit;
}

.nav-name:hover{
    text-decoration: none;
    color:#000e03;;
}

.nav-link {
	font-family: 'Kaushan Script', cursive, sans-serif;
	margin: 0px 30px;
    font-size: x-large;
    text-decoration: none;
    color: inherit;
}

.nav-link:hover{
    text-decoration: none;
    color: #000e03;
}

.navbar-toggler{
    color: inherit;
}

/* Information Card Styling */

.collapsible {
  background-color: #C1A87D;
  color: black;
  padding: 18px;
  outline: none;
  font-size: xx-large;
}

.content {
    display: none;
    overflow: hidden;
    background-color: #C1A87D;
	text-align: center;
    font-family: 'Kaushan Script', cursive, sans-serif;
    margin-left: 20%;
	margin-right: 20%;
	width: 60%;
	padding-bottom: 18px;
}

#button-position {
	margin-left: 20%;
	margin-right: 20%;
	width: 60%;
	padding-bottom: 25px;
}