{% extends "base.html" %}
{% block content %}

    <h3 class=" center-align">Add Recipe</h3>

    <div class="row">
        <form class="col s12" method="POST" action="">
            <div class="row">

                <div class="input-field col s12">
                    <input id="name" name="name" minlength="5" maxlength="50"
                        type="text" class="validate" required>
                    <label for="name">Recipe Title</label>
                </div>

                <div class="input-field col s12">
                    <input id="time" name="time" minlength="1" maxlength="3"
                        type="number" class="validate" required>
                    <label for="time">Time</label>
                </div>

                <div class="input-field col s12">
                    <input id="serving" name="serving" minlength="1" maxlength="3"
                        type="number" class="validate" required>
                    <label for="serving">Portion Size</label>
                </div>

                <div class="input-field col s12">
                    <input id="difficulty" name="difficulty" minlength="4" maxlength="10"
                        type="text" class="validate" required>
                    <label for="difficulty">Difficulty</label>
                </div>

                <div class="input-field col s12">
                    <input id="ingredients" name="name"
                        type="text" class="validate" required>
                    <label for="ingredients">Ingredients</label>
                </div>

                <div class="input-field col s12">
                    <input id="instructions" name="instructions"
                        type="text" class="validate" required>
                    <label for="instructions">Instructions</label>
                </div>

            </div>
        </form>
    </div>

{% endblock %}