{% extends "base.html" %}
{% block content %}

<h1 class="welcome">Decoctions</h1>

<br>
{% for decoction in decoctions %}
<div class="container-fluid">
    <button type="button" class="collapsible" id="button-position">
        <h4>{{ decoction.name }}</h4>
    </button>
    <div class="content">
        <p>Duration: {{ decoction.duration }}</p>
        <p>Ingredients: <br> {{ decoction.ingredients }}</p>
        <p>Effect: <br> {{ decoction.effect }}</p>
    </div>
</div>
<br>
{% endfor %}

<br>

{% endblock %}